@media screen and (max-width: 600px) {

    /* media query for mobile phones */
    p {
        font-size: 14px;
    }

    button {
        padding: 10px 15px;
        font-size: 14px;
    }

    span {
        font-size: 14px;
    }

    table {
        width: 100%;
    }

    th,
    td {
        padding: 5px;
        font-size: 14px;
    }

    h1 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    h5 {
        font-size: 14px;
    }

    label {
        font-size: 14px;
    }

    input {
        font-size: 14px;
    }

    hr {
        margin: 10px 0;
    }

    ol {
        padding-left: 20px;
    }

    ul {
        padding-left: 20px;
    }

    li {
        font-size: 14px;
    }
}

@media screen and (min-width: 601px) {


    /* media query for tablets */
    p {
        font-size: 16px;
    }

    button {
        padding: 15px 20px;
        font-size: 16px;
    }

    span {
        font-size: 16px;
    }

    table {
        width: 100%;
    }

    th,
    td {
        padding: 10px;
        font-size: 16px;
    }

    h1 {
        font-size: 36px;
    }

    h3 {
        font-size: 24px;
    }

    h5 {
        font-size: 16px;
    }

    hr {
        margin: 20px 0;
    }

    ol {
        padding-left: 20px;
    }

    ul {
        padding-left: 20px;
    }

    li {
        font-size: 16px;
    }
}